html {
	margin: 0;
	padding: 0;
}

body:before  { 
   content: "";
   position: fixed;
   top: -10px;
   left: 0;
   width: 100%;
   height: 10px;
   z-index: 100;
   -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
   box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

body {
	padding: 0;
    background: #f9f9f9;
    height: 100%; 
	text-align: center;
    margin: auto;
    width: 720px;
}

a, a:link, a:visited {
	color: #333399;
	text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#limits {
	text-align: left;
}

header {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    text-align: center;
    font-family: 'Antic Slab', serif;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: #333;
    padding-left: 30px;
    padding-right: 30px;
}

p img {
    margin-bottom: -1.4em;
}

#sub, #sub2 {
    font-family: 'Antic Slab', serif;
    font-size: 1.2em;
    letter-spacing: 0.15em;
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
}

#sub2 {
    font-size: 1em;
}

#menu {  /* trick to centre widthless float */
    text-align: center;
    margin-bottom: 2em;
}

#menu a {
    padding-left: 12px;
    padding-right: 12px;
    color: black;
	text-decoration: none;
}

#menu a:hover {
	text-decoration: underline;
}

hr { 
    display:block;
    border:none;
    color:white;
    height:2px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 400, from(#999), to(#fff));
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    padding: 0;
}

#menu, #content, footer {
    font-family: 'Karla', sans-serif;
    text-align:justify;
    padding-left: 30px;
    padding-right: 30px;
}

footer {
    margin-bottom: 2em;
}

#dhtmltooltip {
	position: absolute;
	border: 0;
	padding: 3px;
	background-color: white;
	visibility: hidden;
	z-index: 510;
    top: 50%;
    left: 50%;
}

